<section class="d-flex flex-column align-items-center justify-content-center p-5">
    <div class="p-5 d-flex flex-column align-items-center  justify-content-center p-5">
        <h1 class="text-uppercase text-white pt-5">About Component</h1>
        <app-line></app-line>
        <div class="row text-white p-5">
            <div class="col-md-6 px-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6 px-5 pb-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
    
</section>