<section class="p-5 d-flex flex-column  align-items-center justify-content-center ">
    <div class="d-flex flex-column justify-content-center align-items-center pb-5">
        <h1 class="text-uppercase fw-bolder ">Portfolio Component</h1>
        <div class="d-flex align-items-center ">
            <div style="height: 5px;" class="bg-dark  px-5 "></div>
            <i class="fa-solid fa-star m-3 text-dark  "></i>
            <div style="height: 5px;" class="bg-dark  px-5 "></div>
        </div>
    </div>
    <div class="row p-5 g-5">
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/poert1.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/port2.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/port3.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/poert1.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/port2.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="position-relative ">
                <img class="w-100 rounded-3" src="./assets/images/port3.png" >
                <div class="layer rounded-3 ">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>

</section>